<%= form_for(@tracker) do |form| %>
<% if @tracker.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h3>

    <ul>
    <% @tracker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

	<h3>Name</h3>
	<%= form.text_field :name, :size => 20 %>

	<h3>Pages to Track</h3>
	<div class="trackings">
	<% form.fields_for :trackings do |tracking| %>
		<% render 'tracking_fields', :f => tracking %>
	<% end %>
	</div>
	<div id="add_tracking">
		<%= link_to_add_association 'Add Page', form, :trackings, {'data-association-insertion-node' => '.trackings', 'data-association-insertion-position' => 'after'} %>
	</div>
	<div id="buttons">
		<%= form.submit %>
		<%= link_to 'Cancel', trackers_path %>
	</div>
<% end %>
