<script type="text/javascript">
$(document).ready(function() {
    $('#fundraisers').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
	
	$(".progress").each(function(index, domEle) {
		var percent = $(domEle).children(".percent").val();
		$(domEle).children(".progress_bar").progressbar({
	        value: parseInt(percent)
	    });
	
	});

});
</script>
<div id="fundraisers">
	<% @tracker.fundraisers.each do |fundraiser| %>
	<div class="fundraiser">
		<div class="fundraiser_photo">
			<%= image_tag fundraiser.photo %>
		</div>
		<div class="fundraiser_info">
			<div class="fundraiser_name"><%= fundraiser.name %></div>
			<div class="fundraiser_stats">
				<div class="fundraiser_raised">
					<%= fundraiser.raised %>
					<div>Raised</div>
				</div>
				<div class="fundraiser_goal">
					<%= fundraiser.goal %>
					<div>Goal</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="progress">
				<div class="progress_bar"></div>
				<div class="progress_text">
					<%= fundraiser.percent %> % to goal
				</div>
				<input class="percent" type="hidden" value="<%= fundraiser.percent %>">
			</div>
			<a href="<%= fundraiser.url %>" class="button" target="_top">
				<strong>Donate</strong>
			</a>
		</div>
	</div>
	<% end %>
</div>